@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-100: 0deg 0% 63%;
    --color-primary-200: 0deg 0% 0%;
    --color-primary-300: 0deg 0% 100%;
    --color-primary-400: 0deg 0% 27%;
  }

  body {
    @apply bg-primary-300 font-sans text-base font-medium tracking-body text-primary-100;
  }

  h1 {
    @apply text-heading-mobile text-primary-200 lg:text-heading-desktop;
  }

  h2 {
    @apply font-bold tracking-subheading-mobile text-primary-200 lg:tracking-subheading-desktop;
  }

  nav {
    @apply font-semibold leading-nav tracking-nav text-primary-200 hover:text-primary-300;
  }

  nav li {
    @apply border-b-2 border-transparent pb-2 hover:cursor-pointer hover:border-primary-300;
  }

  button {
    @apply w-14 bg-primary-200 px-button-mobile-x py-button-mobile-y hover:bg-primary-400 lg:w-20 lg:px-button-desktop-x lg:py-7;
  }

  a {
    @apply text-link text-primary-200 hover:text-primary-100;
  }
}
