@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-100: 0deg 0% 63%;
    --color-primary-200: 0deg 0% 0%;
    --color-primary-300: 0deg 0% 100%;
    --color-primary-400: 0deg 0% 27%;
  }

  body {
    @apply min-h-screen bg-primary-300 font-sans text-base font-medium tracking-body text-primary-100;
  }
  h1 {
    @apply text-heading-mobile font-bold text-primary-200 xl:text-heading-desktop;
  }
  h2 {
    @apply font-bold tracking-subheading-mobile text-primary-200 xl:tracking-subheading-desktop;
  }
  nav {
    @apply font-semibold leading-nav tracking-nav text-primary-200;
  }
}

@layer utilities {
  .nav {
    @apply flex items-center px-6 py-12 lg:p-16;
  }
  .navLink {
    @apply relative;
  }
  .navLink::after {
    @apply absolute left-0 -bottom-2 h-0.5 w-0 bg-primary-200 duration-300 content-[''] lg:bg-primary-300;
  }
  .navLink:hover::after {
    @apply w-full;
  }
  .sliderBtn {
    @apply w-14 bg-primary-200 px-button-mobile-x py-button-mobile-y hover:bg-primary-400 xl:w-20 xl:px-button-desktop-x xl:py-7;
  }
}
